/venv/
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/music.iml
.idea/vcs.xml
apps/comment/__pycache__/
apps/comment/migrations/__pycache__/
apps/index/__pycache__/
apps/index/migrations/__pycache__/
apps/play/__pycache__/
apps/play/migrations/__pycache__/
apps/ranking/__pycache__/
apps/ranking/migrations/__pycache__/
apps/search/__pycache__/
apps/search/migrations/__pycache__/
apps/user/__pycache__/
apps/user/migrations/0002_auto_20200901_1040.py
apps/user/migrations/__pycache__/
music/__pycache__/
apps/index/migrations/0001_initial.py
apps/user/migrations/0001_initial.py
