asgiref==3.2.10
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
construct==2.5.3
cryptography==3.1.1
Django==3.1
django-haystack==3.0
django-redis==4.12.1
elasticsearch==1.9.0
future==0.18.2
idna==2.10
mysqlclient==2.0.1
pefile==2019.4.18
Pillow==8.0.0
pycparser==2.20
pyelasticsearch==1.4.1
PyMySQL==0.10.1
python-ptrace==0.9.7
pytz==2020.1
redis==3.5.3
requests==2.24.0
simplejson==3.17.2
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
